<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    
    <div id="root">

        <div class="container">

            <div class="logo">
                <img src="http://boolean.careers/images/misc/logo.png" alt="">
            </div>
            
            <div class="addTask row">
                <input type="text" placeholder="write new task" v-model="newTask">
                <button class="add_button" @click="addTask">Add</button>
                <div class="error" v-show="error">Inserisci una task di almeno 3 caratteri</div>
            </div>

            <div class="tasks " v-if="tasks.length > 0">
                <div class="item" v-for="(task, index) in tasks">
                    <div class="task row">
                        
                        <div v-show="!edit">
                            {{task}}
                        </div>
                        <div v-show="edit">
                            <input type="text" v-bind:placeholder="task" v-model="editedTask">
                            <button class="add_button" @click="editTask(index)">edit</button>
                        </div>

                        <div class="optionTask">
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-edit" @click="modifyTask(index)"></i>
                            <i class="fas fa-trash" @click="deleteTask(index)"></i>
                        </div>

                    </div>


                </div>
            </div>
            <div v-else>
                <p>No tasks remaining</p>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>