/* reset rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules */
.container {
    width: 60%;
    margin: auto;
}
.row {
    display: flex;
    justify-content: space-between;
}

/* logo */
.logo {
    padding: 1rem 4rem;
    text-align: center;
}
.logo > img {
    width: 80%;
}

/* inputs */
.addTask {
    padding: 0 2rem;
    margin: 2rem 0;
}
.addTask > input, .addTask > .add_button {
    height: 50px;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.addTask > input {
    width: 50%;
    text-align: center;
}
.addTask > .add_button {
    width: 25%;
}

/* list section */
.tasks {
    background-color: #F5F7F7;
    border-radius: 1.5rem;
    padding: 2rem;
}
.task {
    margin: 2rem 0;
    border-bottom: 2px solid grey;
    padding: 1rem;
}


.error {
    color: red;
}

